* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f3f8f8;
  color: #333;
}

/* NAVBAR */
.navbar {
  background-color: #3d8bc7;
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 50px 80px;
}

.home {
  text-align: center;
}

.home h1 {
  color: #3d8bc7;
  margin-bottom: 15px;
}

/* MOOD TRACKER */
.mood-box {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.mood-box label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.mood-box input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

.mood-box span {
  font-size: 14px;
  color: gray;
}

/* MOOD PERCENTAGE */
.percentage-box {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.percentage-box h3 {
  font-size: 40px;
  color: #3d8bc7;
}

.note {
  font-size: 13px;
  color: gray;
  margin-top: 10px;
}

/* CARDS */
.videos, .articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.card h3 {
  color: #3d8bc7;
  margin-bottom: 10px;
}

.card a {
  color: #3d8bc7;
  font-weight: bold;
  text-decoration: none;
}

