@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.dark body,
body.dark {
  background-color: #0f172a;
}

/* smooth transition for theme switch */
html.dark {
  color-scheme: dark;
}

* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
